/* _content/FoodRegisterationToolSub1/Views/Shared/_Layout.cshtml.rz.scp.css */
body[b-cz3y77z9u4] {
  background-color: #046cd4;
}

.navbar[b-cz3y77z9u4] {
  background-color: #343a40;
  color: white;
}

