@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "MainPage";
}
<link rel="stylesheet" href="~/css/home.css">
<div class="gif-wrapper">
    <!-- GIF Background -->
    <img src="~/images/index.gif" alt="Animated Design" class="animated-gif">

    <!-- Overlay for Search Section in the Center of GIF -->
    <div class="search-overlay">
        
        <input type="text" id="query" class="search-input" placeholder="Enter food or meal name" aria-label="Search query" />
        <button id="searchButton" class="search-button" type="button">Search</button>
    </div>
</div>

<div id="results" class="results-section" style="overflow-x:auto;">
    <!-- JavaScript will populate search results here -->
</div>

@section Scripts {
    <script src="~/js/search.js"></script>
}
