<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodRegistrationToolSub1</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js"></script>

</head>
<body>

    <!-- Header with links on the left and login on the right -->
    <header class="header-container">
        <div class="label-section">
            <a href="/#">Home</a>
            <a href="#">Nutrient</a>
            <a href="#">Food</a>
            <a href="#">Meals</a>
            <a href="#">In Norwegian</a>
        </div>
        <div class="login-section">
            <a href="/Login">Login</a>
            <a href="/set">SetUp</a>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <div style="padding: 20px; text-align: center; font-size: 14px;">
            &copy; 2024 - FoodRegistrationToolSub1 - <a href="/privacy" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
