<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodRegistrationToolSub1</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <header class="navbar">
        <a href="/" asp-area="" asp-controller="Home" asp-action="Index">FoodRegistrationToolSub1</a>
        <nav>
            <a href="/" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a href="/privacy" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </nav>
    </header>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="footer">
        &copy; 2024 - FoodRegistrationToolSub1 - <a href="/privacy" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
