@{
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
    ViewData["Title"] = "NormalUser Profile";
}

<div class="container mt-5">
    <section class="section">
        <!-- Header Section -->
        <div class="has-text-centered" id="main-content">
            <h1 class="title is-4 has-text-dark">Welcome to the Dashboard</h1>
            <p class="subtitle is-6 has-text-grey">This is some other content on the page.</p>
        </div>

        <!-- Add Icon using Ionic with Bulma styling -->
        <div class="is-flex is-justify-content-center mt-4">
            <span class="icon is-large">
                <ion-icon name="add-circle-outline" class="has-text-primary" style="font-size: 2rem;"></ion-icon>
            </span>
        </div>

        <!-- Profile update form container -->
        <div id="profile-content" class="box mt-5" style="display: none;">
            @Html.AntiForgeryToken()
        </div>
    </section>
</div>

@section Scripts {
   
    <script src="~/js/profiler/normal_userprofile.js"></script>
}
