body[b-cz3y77z9u4] {
  background-color: #046cd4;
}

.navbar[b-cz3y77z9u4] {
  background-color: #343a40;
  color: white;
}

.container[b-cz3y77z9u4] {
  max-width: 100%;
  padding-top: 20px;
}

img.rounded-circle[b-cz3y77z9u4] {
  margin-bottom: 1.5rem;
}

h1.display-4[b-cz3y77z9u4] {
  font-weight: bold;
}
