/// <summary>
/// Razor view for the login page with user type selection and a dynamic login form.
/// </summary>
/// <remarks>
/// This view provides a user interface for selecting a user type and logging in.
/// It dynamically displays the login form based on the selected user type and allows users to submit credentials.
/// </remarks>
///
/// <dependencies>
/// - Layout: Integrates with the shared layout located at "~/Views/Shared/_Layout.cshtml".
/// - CSS Styles: Uses a custom stylesheet from "~/css/login.css".
/// - JavaScript: Incorporates dynamic behavior using "~/js/login.js".
/// - External Resource: Includes a remote SVG image for decorative purposes.
/// </dependencies>
///
/// <example>
/// Example functionality:
/// - Users select "NormalUser," "SuperUser," or "AdminUser."
/// - Based on the selection, the login form is displayed.
/// - Users enter their email and password to log in.
/// </example>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/login.css">
<div class="login-container">
    <h1>Select User Type</h1>
    <!-- SVG Highlight Element (frez.svg) -->
    
   
    <!-- Labels for Different User Types -->
    <div class="user-types">

 
        <a href="/normaluser" class="user-type-button" data-user-type="NormalUser">NormalUser</a>
        <a href="/superuser" class="user-type-button" data-user-type="SuperUser">SuperUser</a>
        <a href="/adminuser" class="user-type-button" data-user-type="AdminUser">AdminUser</a>
       
         <img src="https://res.cloudinary.com/dnwuimgi4/image/upload/v1731605769/loging_icxsj8.svg" class="highlight">
        
    </div>


<div id="LoginForm" style="display:none; margin-top:20px">
    <h2>Login</h2>
    <br>
    <form id="LoginFormElement">
        @Html.AntiForgeryToken()
        <input type="hidden" id="userType" name="userType" />
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </div>
        <br>

        <button type="button" onClick="submitLoginForm()">Login</button>
    </form>
    <div id="errorMessages" style="color:red; display: none;"></div>
</div>
</div>
@section Scripts {
    <script src="~/js/login.js"></script>}
