@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/login.css">
<div class="login-container">
    <h1>Select User Type</h1>
    <!-- SVG Highlight Element (frez.svg) -->
    
   
    <!-- Labels for Different User Types -->
    <div class="user-types">
 <img src="https://res.cloudinary.com/dnwuimgi4/image/upload/v1731605768/sigupwelcome_x6xkzk.svg" class="highlight">
 
        <a href="/normaluser" class="user-type-button" data-user-type="NormalUser">NormalUser</a>
        <a href="/superuser" class="user-type-button" data-user-type="SuperUser">SuperUser</a>
        <a href="/adminuser" class="user-type-button" data-user-type="AdminUser">AdminUser</a>
        
    </div>
   

    <div id="LogUpForm" style="display: none;  margin-top: 20px;">
        @Html.AntiForgeryToken()

    </div>
    
   


    @section Scripts {
    <script src="~/js/logup/logup.js"></script>
}